*{
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

.info-rest{
	background-color: white;
	width: 100%;
	//padding: 20px;
	.info{
		background-color: white;
		width: 100%;
		text-align: center;

		h4{
			color: white;
			background-color: #FF8000;
		}
		h5{
			color: #FF8000;
		}
				p, i{
					color: black;
					font-weight: bolder;
				}

			}
		}

.comp{
	background-color: white;
	width: 100%;
	text-align: center;
	h5, p{
		color: black;
	}
	.res1, 
	.res2{
		color: white;
		font-weight: bolder;
		background-color: #FF8000;
	}
}		

