
/* COMIENZA SECCION DISCOVER J*/
* {
	margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.contenedor {
	background-color: $background-color_nav;
	height: auto;
	h4 {
		font-weight: 700;
	}
	i {
		padding: 5%;
	}
	.j-row {
		margin-bottom: 0;
	}
}

.contenedor-restaurantes {
	background-color: #eaeaea;
	height: auto;

	.j-select {
		margin: 5% 10%;
	}
}

#map {
	height: 400px;
	width: 100%;
}
/*TERMINA SECCION DISCOVER J*/
*{
	
}

/*Inicio PRofile*/


.nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #FF8000;
	li{	
		h5{
			font-size: 3em;
			font-weight: bolder;
		}
		a{
			i{
				font-size: 3em;
				font-weight: bolder;
			}
		}
	}
}
.profile{

	.photo{

		height: 400px;
		width: 100%;
		background-color: white;
		display: flex;
		justify-content: center;        

		}.rectangulo{
			margin: 0;
			padding: 0;

		}
		.btn{
			width: 100%;
			background-color: orange;

		}
		}.btn:hover {
			background-color: orange;

			}
		.datos{
				background-color: gray;
				height: 200px;
				width: 100%;

				}
		input#name, input#email{
					background-color: white;
					border-bottom: 0%;
					margin-bottom: 0%;

					}
		#deletebottom{
		margin-bottom: 0%;
		}

		 h4{
		background-color: transparent;
		padding-top: 5%;
		display: flex;
		justify-content: center;
		align-items: center;
		}

		div.file-field.input-field{
		margin: 0;
	}
/* Fin PROFILE */
